*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Kanit', sans-serif;
    min-height: 100%;
    background: url(https://picsum.photos/id/41/1280/800) #8469C9;
    background-size: cover;
    background-blend-mode: multiply;
}

body{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .4fr .3fr .1fr ;
    position: relative;
}

.banner{
    font-size: 12px;
    display: inline-block;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    color: #6644BB;
    text-shadow: -1px 1px 0 #F0E32D,
				 1px 1px 0 #F0E32D,
				 1px -1px 0 #F0E32D,
				-1px -1px 0 #F0E32D;
    margin-bottom: .6em;
}

.banner img{
    margin-top: 5px;
    margin-left: 6px;
    width: 3%;
}

.search{
    color: #150E25;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    align-content: center;
    background-color: #E0DAF1;
    border:3px solid #DBCE0F;
    border-radius: 10px;
    margin-bottom: 5px;
}

.submit{
    border-radius: 8px;
    border-color: #DBCE0F;
    background-color: #8469C9;
    height: 80%;
}

.bar{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    background-color: #E0DAF1;
    color: #150E25;
    width: 75%;
    font-size: 8px;
}

.bar:focus{
    outline: none;
}

.data{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 2;
    grid-row: 3;
    background-color: #E0DAF1;
    margin-top: 3em;
    border:3px solid #DBCE0F;
}

.m-info{
    grid-row: 1;
    text-align: center;
}

.m-info p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.saved{
    margin-top: 2em;
    text-align: center;
    margin-bottom: 3em;
    padding: 3px;
    grid-column: 2;
    grid-row: 4;
    font-size: 9px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #E0DAF1;
    border:5px solid #DBCE0F;
    border-radius: 12px;
}

.cards{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    background-color: #513696;
    color: #150E25;
    text-shadow: -1px 1px 0 #F0E32D,
				 1px 1px 0 #F0E32D,
				 1px -1px 0 #F0E32D,
				-1px -1px 0 #F0E32D;
    border: 2px solid #DBCE0F;
}

.card hr{
    border-bottom: 2px solid;
    border-color: #DBCE0F;
}


footer{
    margin-top: 3em;
    background-color: #F4EA5D;
    font-size: 25x;
    grid-column: 1/4;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -2em;
}

@media screen and (min-width: 800px){

    body{
        grid-template-rows: 100px 100px auto; 
    }

    .banner{
        font-size: 20px;
    }

    .search{
        font-size: 17px;
    }

    .bar{
        font-size: 15px;
    }

    .saved{
        font-size: 15px;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{
        max-width: 200px;
        margin-bottom: 3em;
    }

    .card h1{
        padding-left: 2em;
        padding-right: 2em;
    }

    .footer{
        margin-top: 5em;
        font-size: 28px;
    }

    .additional{
        font-size: 20px;
    }
}